html {
  height: 100%;
  font-family: 'Nunito', sans-serif;
  color: $text-white;
}

#main {
  background-image: linear-gradient(25deg, #00446b, #16707e, #199f90, #00d1a1);
  background-repeat: no-repeat;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;

  footer {
    text-align: center;
  }

  footer a {
    color: $text-white;
    font-size: 1.5em;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  a:visited {
    color: $text-white;
  }

  .title-section {
    text-align: center;
  }

  .title-section h1 {
    font-weight: normal;
    font-size: 8em;
    margin: 0;
  }

  .sound-board {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 500px;

    .audio-block {
      text-align: center;
      padding: 20px 40px;
      position: relative;

      .play-button {
        .solid {
          display: none;
        }

        .empty {
          display: inline;
        }
      }
      .play-button:hover {
        cursor: pointer;

        .solid {
          display: inline;
        }

        .empty {
          display: none;
        }
      }
      .pause-button {
        font-size: 80px;
      }

      .pause-button:hover {
        cursor: pointer;

        .solid {
          display: inline;
        }

        .empty {
          display: none;
        }
      }
    }
    /* Not sure if I shold put this here or in nouislider.css */
    .slider {
      margin: 0 auto;
      margin-top: 1em;
      width: 70px;
    }
  }

  .sound-board p {
    font-size: 1.5em;
    margin-bottom: 0;
  }
}
