html {
	height: 100%;
}

#sources {
	background-image: linear-gradient(25deg, #00446b, #16707e, #199f90, #00d1a1);
	background-repeat: no-repeat;
	margin: 0;
	height: 100%;
	background-attachment: fixed;
	overflow: hidden;
	#source-title {
		margin-bottom: 10px;
	}
	.source-title-container {
		margin-bottom: 40px;
	}
	p,
	h1,
	a {
		font-family: 'Roboto', sans-serif;
		font-weight: 100;
		font-size: 10em;
	}
	#title-underline {
		color: $text-white;
		height: 1px;
		border-style: solid;
		background-color: $text-white;
		width: 300px;
	}
	a {
		text-decoration: none;
	}
	a:hover {
		color: rgb(33, 148, 148);
		text-decoration: underline;
	}
	a:visited {
		color: $text-white;
	}
	.audio-sources {
		height: 80vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.audio-sources a {
		font-size: 2em;
		font-weight: 100;
		color: $text-white;
	}
	#source-title {
		font-weight: 100;
		font-size: 4em;
		color: $text-white;
	}
	.item {
		padding: 5px;
	}
}

@media screen and (max-width: 800px) {
	#sources {
		#source-title {
			font-size: 3em;
		}
		#title-underline {
			width: 230px;
		}
	}
}