.movie-finder {
  display: grid;
  grid-gap: 50px;
  grid-template-rows: min-content minmax(290px, 1fr);
  grid-template-columns: minmax(0, 600px);
  padding: 0 15px;

  .movie-section {
    @include flex-center-horizontal;
  }
}
