html {}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg.jpg") no-repeat center fixed;
    background-size: cover;
    height: 100%;
}

.footer {
    bottom: 0;
    width: 100%;
    color: #999;
    text-align: center;
    position: absolute;
}

.footer a {
    color: #D3D6D6;
    font-weight: 100;
    font-size: 1.5em;
}

a:hover {
    color: #D3D6D6;
}

a:visited {
    color: #D3D6D6;
}

.play-button {
    width: 3.5em;
}

.pause-button {
    width: 3.5em;
}

.footer-links {
    text-align: center;
}

.title-section {
    color: #D3D6D6;
    text-align: center;
    margin-top: 3em;
}

.title-section h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 10em;
}

.sound-board {
    text-align: center;
    margin-top: 15em;
    width: 100%;
}

.sound-board h2 {
    color: #D3D6D6;
    font-size: 1.5em;
    font-weight: 100;
}

.audio-block {
    display: inline-block;
    margin-left: 4em;
    margin-right: 4em;
}

.audio-block h2 {
    margin-top: 10px
}


/* Not sure if I shold put this here or in nouislider.css */

.slider {
    margin: 0 auto;
    margin-top: 1em;
    width: 70px;
}

#title-underline {
    height: 1px;
    background-color: #d9d9d9;
    width: 200px;
}

#title-note {
    font-weight: 100;
    font-size: 1.5em;
}

#divider {
    margin-right: .5em;
    margin-left: .5em;
    color: #d9d9d9;
    font-weight: 100;
    font-size: 1.5em;
}

@media screen and (max-width: 1115px) {
    .sound-board {
        margin-top: 10em;
        /* width: 738px; */
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1115px) and (max-height: 795px) {
    .sound-board {
        margin-top: 10em;
        width: 100%;
    }
}

@media screen and (max-width: 715px) {
    .sound-board {
        margin-top: 10em;
        margin-left: auto;
        margin-right: auto;
    }
    .title-underline {
        width: 80%;
    }
}

@media screen and (max-width: 411px) {
    .footer {
        position: relative;
        margin-top: 3em;
        font-size: 12px;
    }
}

@media screen and (max-height: 645px) {
    .sound-board {
        margin-top: 10em;
        width: 100%;
    }
}