body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg.jpg") no-repeat center fixed;
    background-size: cover;
    height: 100%;
}

hr {
    height: 1px;
    background-color: #d9d9d9;
    width: 300px;
}

a:hover {
    color: #D3D6D6;
}

a:visited {
    color: #D3D6D6;
}

.audio-sources {
	margin-top: 20em;
	text-align: center;
}

.audio-sources a {
	font-size: 3em;
	font-weight: 100;
	color: #D3D6D6;
}

#title {
	font-weight: 100;
	font-size: 5em;
	color: #D3D6D6;
}