// Blues
$exotic-blue: #007bff;

// Greys
$cloud-grey: #ced4da;
$smoke-grey: #545454;
$mist-grey: #b8b8b8;
$mist-grey-hover: #a1a1a1;
$mist-grey-pressed: #818181;
$charcoal-grey: #292929;

// Greens
$sea-foam-green: #38d3bd;
$sea-foam-green-hover: #34c2ad;
$sea-foam-green-pressed: #32b8a4;
$sea-foam-green-fade: #4dd3bf15;
$success-green: #36bd36;

// Reds
$danger-red: #db5757;
$danger-red-hover: #bb4c4c;
$danger-red-pressed: #a14343;

// Whites
$base-white: #ffffff;

$text-body: $smoke-grey;
$text-header: $charcoal-grey;
$text-body-white: $base-white;
$text-header-white: $base-white;
$text-success: $success-green;

$primary: $sea-foam-green;
$primary-fade: $sea-foam-green-fade;
$primary-hover: $sea-foam-green-hover;
$primary-pressed: $sea-foam-green-pressed;

$primary: $sea-foam-green;
$primary-fade: $sea-foam-green-fade;
$primary-hover: $sea-foam-green-hover;
$primary-pressed: $sea-foam-green-pressed;

$secondary: $mist-grey;
$secondary-hover: $mist-grey-hover;
$secondary-pressed: $mist-grey-pressed;

$danger: $danger-red;
$danger-hover: $danger-red-hover;
$danger-pressed: $danger-red-pressed;
