html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

#root {
  background-image: linear-gradient(25deg, #00446b, #16707e, #199f90, #00d1a1);
  background-repeat: no-repeat; 
}

:focus {
  outline: $primary auto 5px;
}
